TEST_APP_PORT=value_for_TEST_APP_PORT
TEST_APP_HOSTNAME=localhost
TEST_APP_UPDATE_ENV_FILE=
TEST_APP_UPDATE_PROJECT_OPTIONS=
TEST_APP_UPDATE_GLOBAL_CONFIG_AND_ENVS_OPTIONS=
TEST_APP_PRINT_ALL_APPLICATION_ENVS=
TEST_APP_SAVE_FILES_WITH_CHECK_SUM=